import libraries

In [107]:
import tmdbsimple as tmdb
import requests
import pandas as pd
import time
from ast import literal_eval

Skip the next 2 cells, as they only need to be run once.

In [62]:
key = open('key.txt','r').read()
payload = "{}"

movie_df = pd.DataFrame() #create empty dataframe to enable 'while loop' below

page=1
while movie_df.shape[0] < 1000:
    url = "https://api.themoviedb.org/3/movie/top_rated?api_key={0}&language=en-US&page={1}".format(key, str(page))
    response = requests.request("GET", url, data=payload).json()
    if page == 1: #initialize dataframe on first loop
        movie_df = pd.DataFrame(response['results'])
    else:
        movie_df = movie_df.append(pd.DataFrame(response['results']))
    
    movie_df = movie_df[movie_df['original_language']=='en'] #remove non english movies
    time.sleep(0.25) #rate limit is 4 pages per second
    page+=1
    
movie_df.reset_index(inplace=True,drop=True) #reset index since we dropped non english rows

#drop irrelevant columns for this analysis
dropCols = ['adult','backdrop_path', 'original_language','original_title', 'poster_path','video']

movie_df.drop(dropCols,axis=1,inplace=True)

In [63]:
movie_df.to_csv('data\movie_df.csv',encoding="utf-8",index=False)
movie_df.head()

,genre_ids,id,overview,popularity,release_date,title,vote_average,vote_count
0,"[18, 80]",278,Framed in the 1940s for the double murder of h...,28.527767,1994-09-23,The Shawshank Redemption,8.5,9773
1,"[18, 80]",238,"Spanning the years 1945 to 1955, a chronicle o...",36.965452,1972-03-14,The Godfather,8.5,7394
2,"[18, 36, 10752]",424,The true story of how businessman Oskar Schind...,19.945455,1993-11-29,Schindler's List,8.4,5518
3,"[18, 80]",240,In the continuing saga of the Corleone crime f...,30.191804,1974-12-20,The Godfather: Part II,8.4,4249
4,"[18, 9648]",452522,Standalone version of the series pilot with an...,5.969249,1989-12-31,Twin Peaks,8.4,123

In [ ]:
movie_df = pd.read_csv('data\movie_df.csv',encoding="utf-8",converters={'genre_ids':literal_eval})

**Genres**

In [53]:
url = "https://api.themoviedb.org/3/genre/movie/list?api_key={0}&language=en-US&page={1}".format(key, str(page))
response = requests.request("GET", url, data=payload).json()

genreDict = dict(zip([i['id'] for i in response['genres']],
                     [i['name'] for i in response['genres']]))

genreDict

{12: 'Adventure',
 14: 'Fantasy',
 16: 'Animation',
 18: 'Drama',
 27: 'Horror',
 28: 'Action',
 35: 'Comedy',
 36: 'History',
 37: 'Western',
 53: 'Thriller',
 80: 'Crime',
 99: 'Documentary',
 878: 'Science Fiction',
 9648: 'Mystery',
 10402: 'Music',
 10749: 'Romance',
 10751: 'Family',
 10752: 'War',
 10770: 'TV Movie'}

**IMDB Mapping**

In [84]:
def tmdb_to_imdb(tmdb_id):
    time.sleep(0.25) #rate limit is 4 requests per second
    url = "https://api.themoviedb.org/3/movie/{0}/external_ids?api_key={1}&language=en-US".format(tmdb_id, key)
    response = requests.request("GET", url, data=payload).json()
    if 'imdb_id' in response:
        return response['imdb_id']
    else:
        return None

In [111]:
movie_df['imdb_id'] = movie_df['id'].apply(lambda x: tmdb_to_imdb(x))

In [108]:
test = movie_df.copy()[:4]

In [112]:
movie_df

,genre_ids,id,overview,popularity,release_date,title,vote_average,vote_count,imdb_id
0,"[18, 80]",278,Framed in the 1940s for the double murder of h...,28.527767,1994-09-23,The Shawshank Redemption,8.5,9773,tt0111161
1,"[18, 80]",238,"Spanning the years 1945 to 1955, a chronicle o...",36.965452,1972-03-14,The Godfather,8.5,7394,tt0068646
2,"[18, 36, 10752]",424,The true story of how businessman Oskar Schind...,19.945455,1993-11-29,Schindler's List,8.4,5518,tt0108052
3,"[18, 80]",240,In the continuing saga of the Corleone crime f...,30.191804,1974-12-20,The Godfather: Part II,8.4,4249,tt0071562
4,"[18, 9648]",452522,Standalone version of the series pilot with an...,5.969249,1989-12-31,Twin Peaks,8.4,123,tt0278784
5,[18],244786,"Under the direction of a ruthless instructor, ...",29.936676,2014-10-10,Whiplash,8.3,5544,tt2582802
6,"[12, 878, 28]",333339,When the creator of a popular video game syste...,81.290391,2018-03-28,Ready Player One,8.3,137,tt1677720
7,"[53, 80]",680,"A burger-loving hit man, his philosophical par...",39.232028,1994-09-10,Pulp Fiction,8.3,10794,tt0110912
8,"[18, 878]",282848,"Orbiting a quiet backwater planet, the massed ...",5.976601,2013-12-25,Doctor Who: The Time of the Doctor,8.3,112,tt2986512
9,[18],550,A ticking-time-bomb insomniac and a slippery s...,42.100189,1999-10-15,Fight Club,8.3,11878,tt0137523
10,"[18, 80]",311,A former Prohibition-era Jewish gangster retur...,24.331988,1984-05-23,Once Upon a Time in America,8.3,1491,tt0087843
11,"[14, 18, 80]",497,A supernatural tale set on death row in a Sout...,30.412385,1999-12-10,The Green Mile,8.3,5365,tt0120689
12,"[18, 27, 53]",539,When larcenous real estate clerk Marion Crane ...,26.847604,1960-06-16,Psycho,8.3,3193,tt0054215
13,[18],510,While serving time for insanity at a state men...,37.793034,1975-11-18,One Flew Over the Cuckoo's Nest,8.3,3803,tt0073486
14,"[35, 18, 10749]",13,A man with a low IQ has accomplished great thi...,22.452773,1994-07-06,Forrest Gump,8.3,10185,tt0109830
15,"[18, 28, 80, 53]",155,Batman raises the stakes in his war on crime. ...,26.908088,2008-07-16,The Dark Knight,8.3,14338,tt0468569
16,[18],389,The defense and the prosecution have rested an...,22.189500,1957-03-25,12 Angry Men,8.3,2579,tt0050083
17,"[10751, 16, 10749, 35]",455661,A closeted boy runs the risk of being outed by...,10.036833,2017-06-01,In a Heartbeat,8.3,364,tt6969946
18,"[16, 18]",339877,The film brings the paintings of Vincent van G...,13.459501,2017-08-02,Loving Vincent,8.3,481,tt3262342
19,"[18, 9648]",432517,Long buried secrets finally come to light as s...,7.945759,2017-01-15,Sherlock: The Final Problem,8.3,413,tt3845892
20,"[18, 9648, 878, 53, 10770]",374430,"In a mysterious and remote snowy outpost, Matt...",7.397194,2014-12-16,Black Mirror: White Christmas,8.3,460,tt3973198
21,"[18, 80]",769,"The true story of Henry Hill, a half-Irish, ha...",28.374527,1990-09-12,GoodFellas,8.3,3941,tt0099685
22,[18],599,A hack screenwriter writes a screenplay for a ...,10.937849,1950-08-10,Sunset Boulevard,8.3,700,tt0043014
23,"[878, 12]",313106,"In 2013, something terrible is awakening in Lo...",6.609129,2013-11-23,Doctor Who: The Day of the Doctor,8.3,372,tt2779318
24,"[10749, 18]",398818,Elio Perlman is spending the summer with his f...,34.293258,2017-10-27,Call Me by Your Name,8.3,1823,tt5726616
25,"[12, 28, 878]",1891,"The epic saga continues as Luke Skywalker, in ...",18.237908,1980-05-20,The Empire Strikes Back,8.3,7374,tt0080684
26,"[12, 14, 28]",122,Aragorn is revealed as the heir to the ancient...,44.893514,2003-12-01,The Lord of the Rings: The Return of the King,8.2,9730,tt0167260
27,[18],73,Derek Vineyard is paroled after serving 3 year...,30.452422,1998-10-30,American History X,8.2,4025,tt0120586
28,[35],914,Dictator Adenoid Hynkel tries to expand his em...,18.397666,1940-10-15,The Great Dictator,8.2,982,tt0032553
29,[18],265177,A peculiar neighbor offers hope to a recent wi...,14.042214,2014-05-22,Mommy,8.2,913,tt3612616
...,...,...,...,...,...,...,...,...,...
971,[35],5825,It's Christmas time and the Griswolds are prep...,9.678017,1989-12-01,National Lampoon's Christmas Vacation,7.2,829,tt0097958
972,"[80, 18, 35]",308639,Malcolm is carefully surviving life in a tough...,7.091796,2015-06-19,Dope,7.2,789,tt3850214
973,"[12, 10751, 14]",13597,Frustrated with babysitting on yet another wee...,10.738928,1986-06-27,Labyrinth,7.2,751,tt0091369
974,"[28, 12, 18, 36, 10749, 10752]",9361,As the English and French soldiers battle for ...,9.159571,1992-09-25,The Last of the Mohicans,7.2,955,tt0104691
975,"[18, 35]",2759,Two drag-queens and a transsexual contract to ...,5.880161,1994-05-31,"The Adventures of Priscilla, Queen of the Desert",7.2,232,tt0109045
976,"[12, 35, 18]",59468,When his son dies while hiking the famed Camin...,9.589244,2010-09-10,The Way,7.2,204,tt1441912
977,"[35, 18]",10149,Writer Paul Benjamin is nearly hit by a bus wh...,7.006570,1995-06-09,Smoke,7.2,151,tt0114478
978,"[35, 27]",19908,Columbus has made a habit of running from what...,21.899223,2009-10-07,Zombieland,7.2,4444,tt1156398
979,"[14, 35]",4011,"Thanks to an untimely demise via drowning, a y...",21.780990,1988-02-29,Beetlejuice,7.2,1892,tt0094721
980,"[16, 12, 10751]",21032,An outcast half-wolf risks his life to prevent...,11.722590,1995-12-22,Balto,7.2,623,tt0112453
981,"[10402, 35, 10749]",759,Lorelei Lee is a beautiful showgirl engaged to...,6.278998,1953-07-14,Gentlemen Prefer Blondes,7.2,234,tt0045810
982,[37],29005,A gambler and a prostitute become business par...,6.704822,1971-06-24,McCabe & Mrs. Miller,7.2,110,tt0067411
983,"[18, 36]",245168,Based on true events about the foot soldiers o...,9.965844,2015-10-16,Suffragette,7.2,597,tt3077214
984,"[10402, 35, 10751, 14, 18]",10437,A retelling of the classic Dickens tale of Ebe...,6.540774,1992-12-10,The Muppet Christmas Carol,7.2,277,tt0104940
985,"[16, 10751]",355338,"Riley, now 12, is hanging out at home with her...",5.684017,2015-11-03,Riley's First Date?,7.2,220,tt4941804
986,[18],10994,A teenager journeys through a series of foster...,6.922795,2002-10-11,White Oleander,7.2,137,tt0283139
987,"[53, 18]",296098,"During the Cold War, the Soviet Union captures...",33.613948,2015-10-15,Bridge of Spies,7.2,3217,tt3682448
988,"[10751, 16]",13925,A baby lamp finds a ball to play with and it's...,6.642008,1986-08-17,Luxo Jr.,7.2,180,tt0091455
989,"[16, 35, 10751, 12]",10112,When Madame Adelaide Bonfamille leaves her for...,13.516192,1970-12-23,The Aristocats,7.2,1695,tt0065421
990,"[18, 878]",167,Prot is a patient at a mental hospital who cla...,19.366245,2001-10-22,K-PAX,7.2,898,tt0272152
991,"[35, 53, 80, 9648]",15196,Clue finds six colorful dinner guests gathered...,9.237993,1985-12-13,Clue,7.2,461,tt0088930
992,"[18, 27, 53]",399366,"A young man and his four younger siblings, who...",12.681686,2017-10-27,Marrowbone,7.2,123,tt5886440
993,"[18, 10402, 10749]",88,Expecting the usual tedium that accompanies a ...,21.371812,1987-08-21,Dirty Dancing,7.2,1831,tt0092890
994,[10749],14202,A British medical doctor fights a cholera outb...,13.877652,2006-12-09,The Painted Veil,7.2,418,tt0446755
995,"[35, 18]",14886,Two Navy men are ordered to bring a young offe...,6.511305,1973-12-11,The Last Detail,7.2,112,tt0070290
996,"[27, 9648, 53]",2654,With the disappearance of hack horror writer S...,10.361558,1994-12-12,In the Mouth of Madness,7.2,405,tt0113409
997,"[27, 9648, 878]",837,A sleazy cable-TV programmer begins to see his...,7.721037,1983-02-04,Videodrome,7.2,600,tt0086541
998,[18],205601,BELLE is inspired by the true story of Dido El...,12.822260,2013-09-08,Belle,7.2,285,tt2404181
999,"[35, 9648]",10440,A middle-aged couple suspects foul play when t...,6.992721,1993-08-18,Manhattan Murder Mystery,7.2,223,tt0107507
1000,[18],317557,A young girl overcomes her disadvantaged upbri...,5.595859,2016-09-23,Queen of Katwe,7.2,138,tt4341582

In [109]:
test['imdb_id'] = test['id'].apply(lambda x: tmdb_to_imdb(x))

In [110]:
test

,genre_ids,id,overview,popularity,release_date,title,vote_average,vote_count,imdb_id
0,"[18, 80]",278,Framed in the 1940s for the double murder of h...,28.527767,1994-09-23,The Shawshank Redemption,8.5,9773,tt0111161
1,"[18, 80]",238,"Spanning the years 1945 to 1955, a chronicle o...",36.965452,1972-03-14,The Godfather,8.5,7394,tt0068646
2,"[18, 36, 10752]",424,The true story of how businessman Oskar Schind...,19.945455,1993-11-29,Schindler's List,8.4,5518,tt0108052
3,"[18, 80]",240,In the continuing saga of the Corleone crime f...,30.191804,1974-12-20,The Godfather: Part II,8.4,4249,tt0071562